<%- include('../partial/client-head.ejs') %>


<body>
<div class="container-fluid">
    <%- include('../partial/client-header.ejs') %>


    <div class="row justify-content-center contact">
        <div class="col-lg-6">
            <div class="m-bt-70 text-center">
                <h2 class="mb-3 mt-5">Contact</h2>
            </div>
        </div>
    </div>

    <div class="row justify-content-center contact">
        <div class="col-lg-5">
            <img src="https://uploads-ssl.webflow.com/5ef0df6b9272f7410180a013/5ef344a6fcb9c3498e2b332a_Screenshot_11.png" alt="">
        </div>
    </div>


    <%- include('../partial/client-footer.ejs') %>
</div>


</body>


<%- include('../partial/client-script') %>