<%- include('../partial/client-head.ejs') %>


<body>
<div class="container-fluid">
    <%- include('../partial/client-header.ejs') %>

    <h2 class="text-center mb-3 mt-5 title-content">Products</h2>
    <div class="row">
        <div class="col-lg-2">
            <div class="left-menu-product">
                <h4>Category</h4>
                <ul id="myLink">
                    <a href="">
                        <li>Gateight</li>
                    </a>
                    <a href="">
                        <li>Vintage</li>
                    </a>
                    <a href="">
                        <li>Glitz Vintage</li>
                    </a>
                    <a href="">
                        <li>Starry Night</li>
                    </a>
                    <a href="">
                        <li>Royal Erado</li>
                    </a>
                    <a href="">
                        <li>Bollards</li>
                    </a>
                </ul>
                <a href="javascript:void(0);" onclick="myFunctionProduct()"><i class="fa fa-plus icon-pr"
                                                                               aria-hidden="true"></i></a>
            </div>
            <div class="left-menu-product">
                <h4>Shop By Size</h4>
                <div class="product-size">
                    <ul>
                        <li>S</li>
                        <li>M</li>
                        <li>L</li>
                    </ul>
                </div>
            </div>
            <div class="left-menu-product">
                <h4>Category</h4>
                <ul>
                    <a href="">
                        <li>Ajanta</li>
                    </a>
                    <a href="">
                        <li>Altra</li>
                    </a>
                    <a href="">
                        <li>WollWoll</li>
                    </a>
                    <a href="">
                        <li>Vian</li>
                    </a>
                    <a href="">
                        <li>WebelKart Erado</li>
                    </a>

                </ul>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="featured">
                <div><label for="">Sort by</label></div>
                <div class="sort-by">
                    <select name="" id="">
                        <option value="">a-z</option>
                        <option value="">z-a</option>
                        <option value="">price, low to hight</option>
                        <option value="">price, hight to low</option>
                    </select>
                </div>
            </div>
            <div class="row p-5">
                <div class="col-lg-3">
                    <div class="list-led">
                        <div class="prouct-img">
                            <img src="../../../img/products-client/product-1.webp" alt="">
                            <div class="icon-product">
                                <a href="" class="fa fa-shopping-cart btn btn-shop"></a>
                                <a href="" class="fa fa-eye btn btn-shop"></a>
                                <a href="" class="fa fa-heart btn btn-shop"></a>
                            </div>
                        </div>
                        <div>
                            <div class="product-infor ">
                                <a href="">Mosaic Style Dome</a>
                                <p>$530.00</p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="list-led">
                        <div class="prouct-img">
                            <img src="../../../img/products-client/product-1.webp" alt="">
                            <div class="icon-product">
                                <a href="" class="fa fa-shopping-cart btn btn-shop"></a>
                                <a href="" class="fa fa-eye btn btn-shop"></a>
                                <a href="" class="fa fa-heart btn btn-shop"></a>
                            </div>
                        </div>
                        <div>
                            <div class="product-infor ">
                                <a href="">Mosaic Style Dome</a>
                                <p>$530.00</p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="list-led">
                        <div class="prouct-img">
                            <img src="../../../img/products-client/product-1.webp" alt="">
                            <div class="icon-product">
                                <a href="" class="fa fa-shopping-cart btn btn-shop"></a>
                                <a href="" class="fa fa-eye btn btn-shop"></a>
                                <a href="" class="fa fa-heart btn btn-shop"></a>
                            </div>
                        </div>
                        <div>
                            <div class="product-infor ">
                                <a href="">Mosaic Style Dome</a>
                                <p>$530.00</p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="list-led">
                        <div class="prouct-img">
                            <img src="../../../img/products-client/product-1.webp" alt="">
                            <div class="icon-product">
                                <a href="" class="fa fa-shopping-cart btn btn-shop"></a>
                                <a href="" class="fa fa-eye btn btn-shop"></a>
                                <a href="" class="fa fa-heart btn btn-shop"></a>
                            </div>
                        </div>
                        <div>
                            <div class="product-infor ">
                                <a href="">Mosaic Style Dome</a>
                                <p>$530.00</p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="list-led">
                        <div class="prouct-img">
                            <img src="../../../img/products-client/product-1.webp" alt="">
                            <div class="icon-product">
                                <a href="" class="fa fa-shopping-cart btn btn-shop"></a>
                                <a href="" class="fa fa-eye btn btn-shop"></a>
                                <a href="" class="fa fa-heart btn btn-shop"></a>
                            </div>
                        </div>
                        <div>
                            <div class="product-infor ">
                                <a href="">Mosaic Style Dome</a>
                                <p>$530.00</p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="list-led">
                        <div class="prouct-img">
                            <img src="../../../img/products-client/product-1.webp" alt="">
                            <div class="icon-product">
                                <a href="" class="fa fa-shopping-cart btn btn-shop"></a>
                                <a href="" class="fa fa-eye btn btn-shop"></a>
                                <a href="" class="fa fa-heart btn btn-shop"></a>
                            </div>
                        </div>
                        <div>
                            <div class="product-infor ">
                                <a href="">Mosaic Style Dome</a>
                                <p>$530.00</p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="list-led">
                        <div class="prouct-img">
                            <img src="../../../img/products-client/product-1.webp" alt="">
                            <div class="icon-product">
                                <a href="" class="fa fa-shopping-cart btn btn-shop"></a>
                                <a href="" class="fa fa-eye btn btn-shop"></a>
                                <a href="" class="fa fa-heart btn btn-shop"></a>
                            </div>
                        </div>
                        <div>
                            <div class="product-infor ">
                                <a href="">Mosaic Style Dome</a>
                                <p>$530.00</p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>


    <%- include('../partial/client-Footer.ejs') %>
</div>


<script>
    function myFunctionProduct() {
        var x = document.getElementById("myLink");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>
</body>


<%- include('../partial/client-script') %>